[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=comfytiles
X-Python-2-Compatible=false
X-Krita-Manual=Manual.html
Name=ComfyTiles
Comment=Exports and imports tiles to/from ComfyUI
