[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=comfy
X-Python-2-Compatible=false
X-Krita-Manual=Manual.html
Name=ComfyUI Image Enhance
Comment=Enhance images via ComfyUI workflows from Krita
